Babel
cffi
docopt
et-xmlfile
git+https://github.com/NVIDIA/apex
jdcal
joblib
librosa
nltk
numpy
odfpy
olefile
openpyxl
opencv-python
Pillow
pyrouge
pretrainedmodels
pytz
records
SQLAlchemy
tabulate
tablib
torchvision
unicodecsv
xlrd
xlwt



